@use "../colors-vars";
@import "../flex";
@import "../typography";
@import "../borders";

.mantine-Dropzone-root{
  @include width(100%);
  @include height(100%);
  @extend .flex-column;
  @extend .subtitle;
  @extend .border-rds-8;
  @extend .border-solid-1;

  background: colors-vars.$g-100;
  align-items: center;
  justify-content: center;
  color: colors-vars.$g-1000;
}

.mantine-Dropzone-inner{
  @extend .flex-column;
}