@use 'styles/colors';
@import "styles/typography";

.mantine-TextInput-error,
.mantine-PasswordInput-error,
.mantine-NumberInput-error,
.mantine-InputWrapper-error,
.mantine-TagsInput-error
{
  color: colors.$red-500;
  @extend .subtitle;
}
.mantine-Input-invaild,
.mantine-TextInput-invalid
{
  color: colors.$red-500;
  background-color: colors.$red-100;
  @extend .border-solid-1;
}