@use "src/styles/colors";
@import "src/styles/typography";
@import "src/font_custom";
@import "src/styles/borders";

.mantine-Select-label{
  @extend .f-12-bb;
  color: colors.$black;
}
.mantine-Select-item{
  @extend .f-14;
  letter-spacing: 0px;
}
.mantine-Select-input{
  @extend .f-14-b;
  @extend .border-solid-1;
  &:focus{
    @extend .border-solid-1;
  }
}
.mantine-Select-itemsWrapper{
  background: colors.$g-100;
  border-radius: 0.25rem;
}
.mantine-Select-dropdown{
  box-shadow: none;
  @extend .border-solid-1;
}

.mantine-Select-root{
  width: 100%;
}