@use "../../../styles/colors-vars";
@import "styles/borders";
@import "styles/flex";
@import "styles/size";
@import "styles/typography";
@import "styles/cursor";

.GroupBillHeader{
  min-height: 8rem;
  max-height: 8rem;
  align-items: center;

  @extend .flex-row;
  @extend .border-separator-bottom;
  @apply p-4;
  @extend .column-gap-16;

  .groupAvatar{
    //@extend .border-solid-1;
    @include height(100px);
    @include width(100px);

    > div{
      height: 100px;
      width: 100px;
    }
  }

  .groupDetails{
    width: 100%;

    @extend .flex-column;
    @extend .row-gap-8;

    .title{
      @extend .heading-3-b;
    }

    .details{
      justify-content: space-between;
      align-items: center;

      @extend .flex-row;
      .left{

        @extend .flex-row;
        @extend .column-gap-8;
        @apply ml-2;

        .members{
          @extend .flex-row;
          flex-direction: row-reverse;
          img {
            width: 24px;
            position: relative;
            transition: transform 0.2s;
            border-radius: 50%;
            border: 2px solid white;
            margin-left: -8px;
          }

          img:last-child{
            border: 2px solid white;
            margin: 0;
          }

          img:hover {
            transform: scale(1.2);
            z-index: 1;
          }

          .extra{
            background-color: colors-vars.$g-300;
            border: 2px solid white;
            align-items: center;
            justify-content: center;

            @extend .subtitle;
            @extend .flex-row;
            @extend .border-rds-8;
            @extend .pointer;
            @apply px-2 ml-2;
          }


        }

      }
      .right{
        @extend .flex-row;
        @extend .column-gap-4;
      }
    }

  }
}

.lent{
  color: colors-vars.$primary;
}

.owes{
  color: colors-vars.$primary-red;
}

.billShares{
  align-items: center;

  @extend .flex-row;
  @extend .column-gap-4;
  @extend .body-text;

  .lent,.owes{
    @extend .body-text-bold;
    @extend .pointer;
    @extend .currency;
  }
}