@use "styles/colors";
@import "styles/borders";
@import "styles/flex";
@import "styles/size";
@import "styles/typography";
@import "styles/cursor";

.GroupBillHeader{
  min-height: 8rem;
  max-height: 8rem;
  align-items: center;

  @extend .flex-row;
  @extend .border-separator-bottom;
  @extend .p-16;
  @extend .column-gap-16;

  .groupAvatar{
    @extend .border-solid-1;
    @include height(100px);
    @include width(100px);

    img{
      height: 100px;
      width: 100px;
    }
  }

  .groupDetails{
    width: 100%;

    @extend .flex-column;
    @extend .row-gap-8;

    .title{
      @extend .f-16-b;
    }

    .details{
      justify-content: space-between;
      align-items: center;

      @extend .flex-row;
      .left{

        @extend .flex-row;
        @extend .column-gap-8;

        .members{
          @extend .flex-row;
          flex-direction: row-reverse;
          img {
            width: 24px;
            position: relative;
            transition: transform 0.2s;
            border-radius: 50%;
            border: 2px solid white;
            margin-left: -8px;
          }

          img:last-child{
            border: 2px solid white;
            margin: 0;
          }

          img:hover {
            transform: scale(1.2);
            z-index: 1;
          }

          .extra{
            background-color: colors.$g-300;
            border: 2px solid white;
            align-items: center;
            justify-content: center;

            @extend .ml-8;
            @extend .px-8;
            @extend .f-12-bb;
            @extend .flex-row;
            @extend .border-rds-8;
            @extend .pointer;

          }


        }

        .billShares{

          @extend .flex-row;
          @extend .column-gap-4;
          @extend .f-14-b;


        }

      }
      .right{

      }
    }

  }
}

.lent{
  color: colors.$primary;

  @extend .f-14-bb;
  @extend .pointer;
}

.owes{
  color: colors.$primary-red;

  @extend .f-14-bb;
  @extend .pointer;

}