@use "styles/colors";
@import "styles/borders";
@import "styles/size";
@import "styles/flex";
@import "styles/cursor";
@import "styles/typography";


.BillForm {
}

.body{
  @extend .flex-column;
  @extend .row-gap-8;

  .rows{
    align-items: flex-end;
    height: 100%;
    @extend .flex-row;
    @extend .column-gap-8;
    flex-basis: 100%;

    > * {
      width: 100%;
    }
  }

  .members{
    height: 20rem;
    @extend .mt-8;
  }
}

.lent{

  @extend .f-14-bb;
  @extend .pointer;
}