@use "styles/colors-vars";
@import "styles/size";

.BillGroup {
  background: colors-vars.$background-color;
  height: 100%;
  .header{
    height: 8rem;
  }
  .body{
    height: calc(100% - 8rem);
  }
}