@use "styles/strings";
@import "styles/index";
@import "styles/size";
@import "styles/borders";
@import "styles/flex";
@import "styles/typography";
@import "styles/gradients";



$gradients: (
        strings.$balance: ".blue-gradient",
        strings.$cashOut: ".red-gradient",
        strings.$cashIn: ".green-gradient",
        strings.$lent: ".purple-gradient",
        strings.$owe: ".yellow-gradient",
);

@mixin cardStyles($gradient){
  flex-basis: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @include height(5rem);
  @extend .border-rds-8;
  @extend #{$gradient};
}

@mixin insideBorderMixin($background: true){
  position: absolute;
  top:0.24rem;
  left: 0.24rem;

  @include height(4.5rem);
  @include width(calc(100% - 0.5rem));
  @extend .border-rds-6;

  @if $background{
    background-color: white;
  } @else {
    @extend .border-solid-2;
    border-color: rgba(255, 255, 255, 0.4);
  }
}


@mixin bodyMixin(){
  z-index: 1;
  height: 100%;
  @extend .flex-column;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@mixin gradientTextMixin($context){
  @extend #{map-get($gradients,$context)};
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin titleMixin($context){
  @extend .subtitle;
  @extend .mb-2;
  //@if $context != strings.$balance {
  //  @include gradientTextMixin($context);
  //}
}

@mixin contentMixin($context){
  @extend .heading-2;
  @apply pr-0.5;
  //@if $context != strings.$balance {
  //  @include gradientTextMixin($context);
  //}
}

@mixin mainMixin($context){
  @include cardStyles(map-get($gradients,$context));
  .insideBorder{
    @include insideBorderMixin(false)
  }
  .body{
    @include bodyMixin;
    .title{
      @include titleMixin($context);
    }
    .content{
      @include contentMixin($context);
    }
  }
}

.balance{
  @include mainMixin(strings.$balance);
}

.cashOut{
  @include mainMixin(strings.$cashOut);
}

.cashIn{
  @include mainMixin(strings.$cashIn);
}

.lent{
  @include mainMixin(strings.$lent);
}

.owe{
  @include mainMixin(strings.$owe);
}
