@use "src/styles/colors";
@import "src/styles/typography";

.Dashboard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  .header{
    display: flex;
    @extend .f-18-b;
    color: colors.$black;
  }
  .body{

  }
}