@use "../../styles/colors-vars";
@import "styles/flex";
@import "styles/icons";

.AddNew {
  background-color: colors-vars.$primary;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1rem rgba(85, 85, 85, 0.5);

  @extend .flex-row;
  @apply w-10 h-10 cursor-pointer;
}