@use "colors-vars";

@mixin borderSolid($size){
  border: #{$size} solid #f2f2f2;
}

@mixin borderRadius($radius){
  border-radius: $radius;
  overflow: hidden;
}

@mixin border($color,$size,$style){
  border-width: $size;
  border-color: $color;
  border-style: $style;
}

.border-solid-1{
  @apply border border-gray-200;
}

.border-solid-2{
  @include borderSolid(2px)
}

.border-solid-3{
  @include borderSolid(3px)
}

.border-separator-bottom{
  @apply border-b border-gray-200;
}

.border-separator-right{
  @apply border-r border-gray-200;
}

.border-separator-top{
  @apply border-t border-gray-200;
}
.border-separator-left{
  @apply border-l border-gray-200;
}

.border-rds-4{
  @include borderRadius(0.25rem);
}

.border-rds-8{
  @include borderRadius(0.5rem);
}

.border-rds-6{
  @include borderRadius(0.375rem);
}

.border-dashed{
  border-style: dashed;
}

