@use "styles/colors";

@mixin borderSolid($size){
  border: #{$size} solid colors.$g-400;
}

@mixin borderRadius($radius){
  border-radius: $radius;
  overflow: hidden;
}

@mixin border($color,$size,$style){
  border-width: $size;
  border-color: $color;
  border-style: $style;
}

.border-solid-1{
  @include borderSolid(1px);
}

.border-solid-2{
  @include borderSolid(2px)
}

.border-solid-3{
  @include borderSolid(3px)
}

.border-separator-bottom{
  border-bottom: 0.5px solid colors.$g-400;
}

.border-separator-right{
  border-right: 0.5px solid colors.$g-400;
}

.border-separator-top{
  border-top: 0.5px solid colors.$g-400;
}

.border-rds-4{
  @include borderRadius(0.25rem);
}

.border-rds-8{
  @include borderRadius(0.5rem);
}

.border-rds-6{
  @include borderRadius(0.375rem);
}

