.green-gradient{
  background: linear-gradient(240deg, #2cbc98 1.07%,#007962 100%);
}

.red-gradient{
  background: -webkit-linear-gradient(240deg, #ff8352 1.07%, #C92A2A 100%);
}

.blue-gradient{
  background: -webkit-linear-gradient(240deg, #0CF 1.07%, #09F 100%);
}

.gray-gradient{
  background: linear-gradient(132.07deg, #243B53 -20.6%, #829AB1 116.54%);
}

.brown-gradient{
  background: -webkit-linear-gradient(240deg, #FD974F 1.07%, #CD563C 100%);
}

.yellow-gradient{
  background: -webkit-linear-gradient(240deg, #F9DA8B 1.07%, #C99A2E 80%);
}

.purple-gradient{
  background: -webkit-linear-gradient(240deg, #A081D9 1.07%, #653CAD 80%);
}

