.green-gradient{
  background: linear-gradient(94.7deg, #014D40 -3.6%, #2cbc98 142.21%);
}

.red-gradient{
  background: linear-gradient(95.18deg, #911111 -6.14%, #D64545 104.57%);
}

.blue-gradient{
  background: linear-gradient(93.76deg, #0A558C 0.38%, #2680C2 108.54%);
}

.gray-gradient{
  background: linear-gradient(132.07deg, #243B53 -20.6%, #829AB1 116.54%);
}