@use "colors";
@import "size";
@import "flex";
@import "borders";

@for $i from 5 through 25{
  .icon#{$i*4}{
    @extend .w#{$i*4}p;
    @extend .h#{$i*4}p;
  }
}

@for $i from 5 through 25{
  .icon#{$i*4}-card{
    background-color: colors.$g-300;
    align-items: center;
    justify-content: center;

    @extend .flex-row;
    @extend .w#{$i*4}p;
    @extend .h#{$i*4}p;
    @extend .icon#{$i*4};
    @extend .border-rds-8;
  }
}
