*{
  font-family: Inter_,sans-serif;
}

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}

*::-webkit-scrollbar-thumb {
  position: absolute;
  background-color: #bcbcbc;
  border-radius: 0.2rem;
  z-index: 100;
}