
//width
@for $i from 0 through 200 {
  .w#{$i*4}p{
    max-width: $i*4px;
    min-width: $i*4px;
  }
}

//height
@for $i from 0 through 200 {
  .h#{$i*4}p{
    height: $i*4px;
  }
}


@for $i from 0 through 30 {
  .ml-#{$i*4}{
    margin-left: $i*4px;
  }
}

@for $i from 0 through 30 {
  .mr-#{$i*4}{
    margin-right: $i*4px;
  }
}

@for $i from 0 through 30 {
  .mt-#{$i*4}{
    margin-top: $i*4px;
  }
}

@for $i from 0 through 30 {
  .mb-#{$i*4}{
    margin-bottom: $i*4px;
  }
}

@for $i from 0 through 30 {
  .mx-#{$i*4}{
    margin-left: $i*4px;
    margin-right: $i*4px;
  }
}

@for $i from 0 through 30 {
  .my-#{$i*4}{
    margin-top: $i*4px;
    margin-bottom: $i*4px;
  }
}

@for $i from 0 through 30 {
  .m-#{$i*4}{
    margin: $i*4px;
  }
}


@for $i from 0 through 30 {
  .pl-#{$i*4}{
    padding-left: $i*4px;
  }
}

@for $i from 0 through 30 {
  .pr-#{$i*4}{
  padding-right: $i*4px;
  }
}

@for $i from 0 through 30 {
  .pt-#{$i*4}{
    padding-top: $i*4px;
  }
}

@for $i from 0 through 30 {
  .pb-#{$i*4}{
    padding-bottom: $i*4px;
  }
}

@for $i from 0 through 30 {
  .px-#{$i*4}{
    padding-left: $i*4px;
    padding-right: $i*4px;
  }
}

@for $i from 0 through 30 {
  .py-#{$i*4}{
    padding-top: $i*4px;
    padding-bottom: $i*4px;
  }
}

@for $i from 0 through 30 {
  .p-#{$i*4}{
    padding: $i*4px;
  }
}

@mixin height($height){
  max-height: $height;
  min-height: $height;
}

@mixin width($width){
  max-width: $width;
  min-width: $width;
}



