.defaultPadding{
  @apply p-3;
}

@mixin height($height){
  max-height: $height;
  min-height: $height;
}

@mixin width($width){
  max-width: $width;
  min-width: $width;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



