@use "colors-vars";
@import "flex";

tr{
  //th{
  //    @extend .flex-row;
  //    align-items: center;
  //}
  td{
    &.action{
      visibility: hidden;
    }
  }

  &:hover{
    td{
      &.action{
        visibility: visible;
      }
    }
  }
}

tr[data-selected=true]{
  background-color: colors-vars.$g-300;
}

