
@mixin typography($font-size,$font-weight){
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: 100%;
  line-height: normal;
  text-rendering: optimizeLegibility;
  text-decoration: solid rgb(60, 65, 73);
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: normal;
}

@for $i from 10 through 20 {
  .f-#{$i}{
    @include typography(#{$i/16}rem,400)
  }
  .f-#{$i}-b{
    @include typography(#{$i/16}rem,500)
  }
  .f-#{$i}-bb{
    @include typography(#{$i/16}rem,600)
  }
  .f-#{$i}-bbb{
    @include typography(#{$i/16}rem,700)
  }
}

@for $i from 6 through 10{
  .f-#{$i*4}{
    @include typography(#{($i*4)/16}rem,400)
  }
  .f-#{$i*4}-b{
    @include typography(#{($i*4)/16}rem,500)
  }
  .f-#{$i*4}-bb{
    @include typography(#{($i*4)/16}rem,600)
  }
  .f-#{$i*4}-bbb{
    @include typography(#{($i*4)/16}rem,700)
  }
}

.small-text{
  @extend .f-10;
}

.subtitle{
  @apply text-xs font-[450] antialiased;
}

.subtitle-bold{
  @apply text-xs font-semibold antialiased;
}

.body-text{
  @extend .f-13-b;
}

.body-text-bold{
  @extend .f-13-bb;
}

.button-text{
  @extend .f-13-b;
}

.heading-4{
  letter-spacing: -0.2px;
  @extend .f-14-b;
}

.heading-3{
  @extend .f-18-b;
}

.heading-3-b{
  @extend .f-18-bb;
}

.heading-2{
  @extend .f-20-bb;
}

.heading-1{
  @extend .f-24-bb;
}

.text-align-right{
  text-align: right;
}

.currency {
  font-family: RobotoMono,monospace;
}

.f-40{
  @include typography(2.5rem,600);
}