
@mixin typography($font-size,$font-weight,$letter-spacing){
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}

.f-10{
  @include typography(0.625rem,400,0.1px)
}
.f-10-b{
  @include typography(0.625rem,500,0.1px)
}
.f-10-bb{
  @include typography(0.625rem,600,0.1px)
}
.f-12{
  @include typography(0.75rem,400,0.1px)
}
.f-12-b{
  @include typography(0.75rem,500,0.1px)
}
.f-12-bb{
  @include typography(0.75rem,600,0.2px)
}
.f-14{
  @include typography(0.875rem,400,0px)
}
.f-14-b{
  @include typography(0.875rem,500,0.15px)
}
.f-14-bb{
  @include typography(0.875rem,600,0.15px)
}
.f-14-bbb{
  @include typography(0.875rem,700,0.15px)
}
.f-16{
  @include typography(1rem,500,0.2px);
}
.f-16-b{
  @include typography(1rem,600,0.2px)
}
.f-18{
  @include typography(1.2rem,500,0.2px);
}
.f-18-b{
  @include typography(1.2rem,700,0px);
}
.f-20{
  @include typography(1.25rem,600,0.03rem);
}
.f-24{
  @include typography(1.5rem,700,0.5px)
}
.f-28{
  @include typography(1.75rem,700,0.03rem);
}
.f-32{
  @include typography(2rem,700,0.03rem);
}
.f-36{
  @include typography(2.25rem,700,0.03rem);
}
.f-40{
  @include typography(2.5rem,700,0.03rem);
}
.f-40-b{
  @include typography(2.5rem,bolder,0.03rem);
}

.currency{
  font-family: RobotoMono,monospace;
}