@import "styles/borders";
@import "styles/size";
@import "styles/typography";

.SignUp {
  display: flex;
  height: 100vh;
  background: url("../../assets/icons/plus-d.svg");
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;

  .form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @extend .py-16;
    @extend .border-solid-2;
    @extend .border-rds-8;
    @include width(30rem);

    .formContainer{
      @apply flex-col w-[20rem] space-y-3;

      > *{
        @apply w-full;
      }
    }
  }
}

.seperator{
  @extend .border-separator-top;
}

.right{
  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  @include height(100%);

  span{
    @extend .heading-2;
  }
}