@import "styles/flex";
@import "styles/size";

.DeleteConfirmationModal {}

.footer{
  @extend .flex-row;
  @apply p-2;
  @extend .column-gap-8;

  > * {
    flex-basis: 100%;
  }
}

.body{
  align-items: center;
  justify-content: center;
  @extend .flex-column;
  @include width(100%);
  @apply pb-4;
}