@use "src/styles/colors";
@import "src/styles/borders";
@import "src/styles/flex";
@import "src/styles/typography";

.Summary {
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  background: white;

  @extend .flex-row;
  @extend .border-solid-1;
  @extend .border-rds-8;

  .container{
    @extend .flex-column;
    .label{
      @extend .f-12-b;
      color: colors.$g-1000;
    }
    .value{
      @extend .f-16-b;
    }
  }
}