@use "styles/colors";
@import "styles/borders";
@import "styles/typography";
@import "styles/flex";
@import "styles/size";

.TransactionType {}


@mixin common-style($text-color, $bg-color) {
  color: $text-color;
  background-color: $bg-color;
  display: inline-block;

  @include border($text-color, 1px, dashed);
  @extend .border-rds-4;
  @extend .subtitle-bold;
  @extend .px-8;
  @extend .py-4;
}

.cashIn {
  @include common-style(colors.$p-700, colors.$p-200);
}

.cashOut {
  @include common-style(colors.$red-700, colors.$red-200);
}

.lent {
  @include common-style(colors.$purple-700, colors.$purple-100);
}

.owe {
  @include common-style(colors.$y-700, colors.$y-200);
}

.container{
  display: flex;
}