.loader {
  width: 12px;
  aspect-ratio: 1;
  position: relative;
  animation: l9-0 1s infinite steps(2);
  @apply text-emerald-700;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  @apply bg-emerald-700;
}
.loader::before {
  box-shadow: 24px 0;
  transform: translateX(-12px);
  animation: l9-1 .5s infinite linear alternate;
}
.loader::after {
  transform: translateX(12px) rotate(0deg) translateX(12px);
  animation: l9-2 .5s infinite linear alternate;
}
@keyframes l9-0 {
  0% ,49.9% {transform: scale(1)}
  50%,100%  {transform: scale(-1)}
}
@keyframes l9-1 {
  100%{box-shadow: 24px 0}
}
@keyframes l9-2 {
  100%{transform: translateX(12px) rotate(-180deg) translateX(12px)}
}