.TransactionModal {

}

.cashIn{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  .body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .dateTimeContainer{
      display: flex;
      justify-content: space-between;
    }
    .categoryAndPaymentMode{
      display: flex;
      gap: 1rem;
      width: 100%;
    }
  }
  .footer{
    display: flex;
  }
}