//
// Icon Font: font_custom
//

@font-face {
  font-family: "font_custom";
  src: url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.eot");
  src: url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.eot?#iefix") format("embedded-opentype"),
       url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.woff2") format("woff2"),
       url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.woff") format("woff"),
       url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.ttf") format("truetype"),
       url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.svg#font_custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font_custom";
    src: url("./font_icons/font_custom_2e48294139917f4f326155b69b9237c0.svg#font_custom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-account-circle:before,
.fa-download:before,
.fa-logo:before,
.fa-material-symbols_add-circle-outline:before,
.fa-material-symbols_data-usage:before,
.fa-material-symbols_keyboard-arrow-down:before,
.fa-material-symbols_play-circle-outline:before,
.fa-mdi_question-mark-circle-outline:before,
.fa-mingcute_book-6-line:before,
.fa-ph_heart-straight-bold:before,
.fa-ph_tag-bold:before,
.fa-upload:before {
  display: inline-block;
  font-family: "font_custom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-account-circle:before { content: "\f100"; }
.fa-download:before { content: "\f101"; }
.fa-logo:before { content: "\f102"; }
.fa-material-symbols_add-circle-outline:before { content: "\f103"; }
.fa-material-symbols_data-usage:before { content: "\f104"; }
.fa-material-symbols_keyboard-arrow-down:before { content: "\f105"; }
.fa-material-symbols_play-circle-outline:before { content: "\f106"; }
.fa-mdi_question-mark-circle-outline:before { content: "\f107"; }
.fa-mingcute_book-6-line:before { content: "\f108"; }
.fa-ph_heart-straight-bold:before { content: "\f109"; }
.fa-ph_tag-bold:before { content: "\f10a"; }
.fa-upload:before { content: "\f10b"; }

$font-font_custom-account-circle: "\f100";
$font-font_custom-download: "\f101";
$font-font_custom-logo: "\f102";
$font-font_custom-material-symbols_add-circle-outline: "\f103";
$font-font_custom-material-symbols_data-usage: "\f104";
$font-font_custom-material-symbols_keyboard-arrow-down: "\f105";
$font-font_custom-material-symbols_play-circle-outline: "\f106";
$font-font_custom-mdi_question-mark-circle-outline: "\f107";
$font-font_custom-mingcute_book-6-line: "\f108";
$font-font_custom-ph_heart-straight-bold: "\f109";
$font-font_custom-ph_tag-bold: "\f10a";
$font-font_custom-upload: "\f10b";
