@import "src/styles/size";
@import "src/styles/borders";
@import "src/styles/cursor";

.Header {
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: white;
  @extend .border-separator-bottom;
  @extend .px-16;
}

.right,.left{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.close{
  @extend .pointer;
}