@use "../../styles/colors-vars";
@import "styles/size";
@import "styles/borders";
@import "styles/cursor";
@import "styles/typography";

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  @extend .border-separator-bottom;
  @extend .px-16;
  @include height(3rem)
}

.right,.left{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.title {
  color: #24292FFF;
  @extend .heading-4;
}

.close{
  @extend .pointer;
}