.textAvatar{

}

@mixin getBGandTextColor($color,$color1){
  span{
      background: $color1;
      color: $color;
      border: none;
  }
}

.sunset{
  @include getBGandTextColor(#e7341c,#ffc8c8)
}

.cloudyDay{
  @include getBGandTextColor(#194169,#c8e4ff);
}

.nature{
  @include getBGandTextColor(#038b76,#c0ffe5);
}

.ocean {
  @include getBGandTextColor(#007499, #bcecff)
}

.lotus{
  @include getBGandTextColor(#c70062, #ffbfdd)
}

.lemon{
  @include getBGandTextColor(#7c9f00, #f2ffbb)
}

.blue{
  @include getBGandTextColor(#0e0099, #cdc8ff)
}

.ocean{
  @include getBGandTextColor(#00a9b4, #c7feff)
}

.yellow{
  @include getBGandTextColor(#b29a00, #fff6c8)
}

.orange{
  @include getBGandTextColor(#b25c00, #ffe6c9)
}