

@mixin getBackgroundGradientandTextColor($color,$color1,$color2){
  background: -webkit-linear-gradient(240deg, $color1 1.07%, $color2 80%);
  color: $color;
  border: none;
}

.sunset{
  @include getBackgroundGradientandTextColor(#fff,#fda49e,#e7341c)
}

.cloudyDay{
  @include getBackgroundGradientandTextColor(#fff,#97adbe,#194169);
}

.nature{
  @include getBackgroundGradientandTextColor(#fff,#038b76,#55d7ae);
}
.nature1{
  @include getBackgroundGradientandTextColor(#fff,#038b76,#55d7ae);
}

.text-avatar{
  span{
    @include getBackgroundGradientandTextColor(#fff,#fda49e,#e7341c)
  }
}