@use "src/styles/colors";
@import "src/styles/typography";

.Books {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
  .header{
    display: flex;
    justify-content: space-between;
    .left{
      @extend .f-18-b;
      color: colors.$n-1000;
    }
    .right{
      display: flex;
      gap:1rem;
    }
  }
  .body{
    .cashCardComponents{
      display: flex;
      gap: 0.5rem;
      height: 4rem;
    }
  }
}