@import "styles/size";
@import "styles/borders";
@import "styles/flex";

.Footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: white;

  @include height(3rem);
  @extend .border-separator-top;
  @extend .px-16;

  .left{
    @extend .flex-row;
    @extend .column-gap-8;
  }

  .right{
    @extend .flex-row;
    @extend .column-gap-8;
  }
}