@use "styles/colors";
@import "styles/radius";
@import "styles/borders";
@import "styles/typography";
@import "styles/size";
@import "styles/flex";

.Table {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  container-type: inline-size;
  container-name: tableContainer;

  .metaRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include height(3rem);
    @extend .px-16;
    @extend .border-separator-bottom;

    .right{
      display: flex;
      column-gap: 0.5rem;
      align-items: baseline;

      .title{
        @extend .heading-4;
      }

      .entries{
        @extend .subtitle;
      }
    }

    .left{
      display: flex;
      column-gap: 0.5rem;
      align-items: center;

      .search{

      }

      .sort{

      }

      .filter{

      }
    }
  }

  .table{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-collapse: collapse;
    overflow-y: auto;
    position: relative;
    flex-basis: 100%;

    @extend .body-text;

    thead{
      position: sticky;
      top: 0;
      z-index: 10;

      @extend .body-text-bold;

      tr{
        background-color: colors.$g-300;

      }
    }

    tr{
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @extend .border-separator-bottom;
      @extend .column-gap-8;

      td,th{

      }

      th:nth-child(1),td:nth-child(1){
        @extend .pl-16;
      }

      th:nth-last-child(1),td:nth-last-child(1){
        @extend .pr-16;
      }
    }

    tbody{
      tr{
        height: 2.5rem;
        td{
          @extend .body-text;
        }
      }
    }
  }

  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;

    @include height(3rem);
    @extend .border-separator-top;
  }
}

@container tableContainer (max-width:30rem){
  .search{
    display: none;
  }
  .entries{
    //display: none;
  }
  .sort{
    display: none;
  }
}

.borders{
  @extend .border-solid-1;
}

.radius{
  @extend .radius-8;
}

.defaultHeight{
  height: 100%;
}

.actionRow{
  display: flex ;
  justify-content: space-between ;
  width: 100%;
  align-items: center;
  background-color: colors.$y-200 ;


  @include height(2.5rem);
  @extend .px-16;
  @extend .border-separator-bottom;

  .right{
    @extend .body-text;
    @extend .flex-row;
    @extend .column-gap-8;
  }
  .left{

  }
}