@use "src/styles/colors";
@import "src/styles/radius";
@import "src/styles/borders";
@import "src/styles/typography";
@import "src/styles/size";

.Table {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  container-type: inline-size;
  container-name: tableContainer;

  .metaRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    align-items: center;

    @extend .px-16;
    @extend .border-separator-bottom;

    .right{
      display: flex;
      column-gap: 0.5rem;
      align-items: baseline;

      .title{
        @extend .f-16-b;
      }

      .entries{
        @extend .f-12;
      }
    }

    .left{
      display: flex;
      column-gap: 0.5rem;
      align-items: center;

      .search{

      }

      .sort{

      }

      .filter{

      }
    }
  }

  .table{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-collapse: collapse;
    overflow-y: auto;
    position: relative;
    height: calc(100% + -6rem);

    @extend .f-14;

    thead{
      position: sticky;
      top: 0;

      @extend .f-14-b;

      tr{
        background-color: colors.$g-300;
      }
    }

    tr{
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @extend .border-separator-bottom;

      td,th{
        flex-basis: 100%;
      }

      th:nth-child(1),td:nth-child(1){
        @extend .pl-16;
      }

      th:nth-last-child(1),td:nth-last-child(1){
        @extend .pl-16;
      }
    }

    tbody{
      tr{
        height: 2.5rem;
      }
    }
  }

  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    @extend .border-separator-top;
  }
}

@container tableContainer (max-width:25rem){
  .search{
    display: none;
  }
  .entries{
    display: none;
  }
  .sort{
    display: none;
  }
}

.borders{
  @extend .border-solid-1;
}

.radius{
  @extend .radius-8;
}