@use "src/styles/colors";

.Table {
  table{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    thead{
      text-align: left;
      display: flex;
      background-color: colors.$g-300;
      tr{
        padding: 0.5rem;
        width: 100%;
      }
    }
    tbody{
      text-align: left;
      display: flex;
      tr{
        padding: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}