@use "styles/colors-vars";
@import "styles/size";
@import "styles/typography";
@import "styles/flex";
@import "styles/icons";
@import "styles/index";

.App{
  display: flex;
}
.test{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem;
  width: 20rem;
}

.icon24{
  @apply w-6 h-6;
}

.icon32{
  @apply w-8 h-8;
}

.icon20{
  @apply w-5 h-5;
 }


.appContainer{
  display: flex;
  flex-direction: column;
  width: calc(100% + -3.5rem);
  height: 100vh;
}

.outlet{
  height: calc(100% - 3rem);
}

.modal{
  position: absolute;
}
