@import "styles/borders";
@import "styles/flex";
@import "styles/size";

.TransactionForm {
  overflow: hidden;
  background: white;

  @extend .flex-column;
  @include width(100%);
  .body{
    height: calc(100% - 6.2rem);


    //@extend .mx-16;
    //@extend .my-8;
    @extend .flex-column;
    @extend .row-gap-4;
    @extend .p-16;
    > * {
      width: 100%;
    }

    .col2{
      display: flex;

      @extend .column-gap-8;

      > * {
        flex-basis: 100%;
      }
    }
  }
}

.footer{
   height: 3rem;
   align-items: center;
   justify-content: right;

   @extend .pr-8;
   @extend .column-gap-8;
   @extend .flex-row;
   @extend .border-separator-top
 }